
:root {
  --basic-red                : #EE3643;
  --basic-green              : #63A63E;
  --basic-grey               : #3D546F;
  --basic-orange             : #FFC047;
  --basic-grey-dark          : #293449;
  --basic-blue               : #32425C;
  --basic-blue-dark          : #405069;
  --basic-grey-light         : #C5C5C5;
  --basic-back               : #F1F5F7;
  --background-cart          : #F1F1F1;
  --basic-back-plus          : #F3F7F9;
  --catalog-back-h1          : #F2F6F8;
  --catalog-back-sort        : #F2F6F8;
  --basic-white              : #FFFFFF;
  --basic-black              : #000000;
  --basic-social             : #212A3A;
  --basic-border             : #EAEAEA;
  --basic-slider             : #806E5B;
  --special-nav              : #1D2739;
  --special-yellow-light     : #FFD180;
  --special-blue             : #3BBCE3;
  --special-lilac            : #DC91D8;
  --special-greenlight       : #8ED78F;
  --special-red              : #BA2732;
  --special-active           : rgba(255, 255, 255, 0.5);
  --special-green-hover      : #5FBB2D;
  --special-green-active     : #518534;
  --special-yellow           : #FFBF47;
  --special-shadow           : #8D1E26;
  --special-icon             : #697180;
  --special-green-shadow     : #367315;
  --special-del              : #A9A9A9;
  --special-white-back       : #F9F5F0;
  --special-white-border     : #E5E5E5;
  --logo-shadow              : #B52933;
  --special-list-shadow       :rgba(0, 0, 0, 0.15); 
  --special-box-shadow        :rgba(0, 0, 0, 0.25);
  --special-black-transparent :rgba(0, 0, 0, 0.3);
  --form-box-shadow           :rgba(0, 0, 0, 0.75);
  --button-wrapper            :#F4F4F4;
  --scale-color               :#D7DCDE;
  --bar-color                 :#00CA74;
  --toggle-color              :#ABABAB;
  --toggle-shadow             :#E0DDD9;
  --popup-shadow              :#FF5257;
  --filter-back               :#F7F3EC;
  --price-scale               :#444444;
  --button                    :rgba(255,255,255,0.3);
  --button-hover              :rgba(197,197,197,0.3);
  --button-active             :rgba(169,169,169,0.3);
  --button-login              :rgba(0, 0, 0, 0.0001);
  --button-link-hover         :#CA2C37;
}

*,
*::before,
*::after {
  box-sizing: border-box; 
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;


  font-family: "PT Sans","Arial",sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-back);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.header {
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  min-height: 320px;
  padding-bottom: 59px;
  background-color: var(--basic-back-plus);
}

.header__wrapper {
  background-color : var(--basic-grey-dark);
  margin-bottom: 42px;
}

.container {
  width: 100%;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__wrapper-upper,
.header__wrapper-middle{
  display: flex;
  flex-wrap: wrap;
}

.header__wrapper-middle, .header__catalog-middle {
 background-color: var(--basic-back-plus);
 display: flex;
 min-height: 45px;
 align-items: flex-start;
 flex-wrap: wrap;
}

.header__wrapper-middle {
 margin-bottom: 40px;
}

.header__catalog-middle {
 margin-bottom: 40px;
} 

.header__logo img {
  display: block;
  margin: 0 auto;
}

.header__logo {
  width: 220px;
  padding: 12px 0;
  background-color: var(--basic-red);
  box-shadow: 0 5px var(--logo-shadow);
}

.header__logo:active {
  background-color: var(--special-red);
  box-shadow: 0 5px var(--special-shadow);
}
.search {
  position: relative;
  display: flex;
  flex-grow : 1;
  flex-wrap: wrap;
}

.search__input  {
  background-color : var(--basic-grey-dark);
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 9px 0px 8px 42px;
}

.search__input:focus {
  color: var(--basic-black);
  background-color: var(--basic-back);
}

.search__input:active {
  background-color: var(--basic-grey-dark);
}

.search__input::placeholder, 
.search__input:hover::placeholder {
 color: var(--basic-white);
}

.search__input:active::placeholder {
  color: var(--special-active);
  background-color: var(--basic-grey-dark);
}

.search__icon {
  position: absolute;
  top: 12px;
  left: 17px;
}

.search__icon path {
  fill: var(--special-icon);
}

.search__input:hover + .search__icon path {
  fill: var(--basic-white);
}

.search__input:focus + .search__icon path {
  fill: var(--basic-red);
}

.search__input:active + .search__icon path {
  fill: var(--special-icon);
}

.registration {
  display: flex;
  width: 450px;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  width: 150px;
  text-align: center;
}

.bookmark__count, .bookmark__count-catalog, .cart__count, .cart__count-catalog, .order {
  display: block;
  position: relative;
  color : var(--basic-white);
}

.bookmark__count::before {
  content: "";
  position: absolute;
    top: 12px;
    left: 20px;
  height: 14px;
  width: 14px;
  background: url("../img/icon-bookmark.svg");
  opacity: 0.3;
}

.bookmark__count {
  padding: 9px 1px 9px 19px;
}

.bookmark__count-catalog {
  padding: 9px 0px 7px 5px;
  flex-grow: 1;
}

.bookmark__count-catalog::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 20px;
  height: 16px;
  width: 14px;
  background: url("../img/icon-bookmark.svg");
  opacity: 0.3;
}

.cart__count {
  padding:9px 1px 9px 23px;
}

.cart__count-catalog {
  background-color: var(--basic-red);
  width: 136px;
  padding: 9px 0 9px 13px;
}

.cart__count::before {
  content: "";
  position: absolute;
    top: 12px;
    left: 26px;
  height: 14px;
  width: 16px;
  background: url("../img/icon-cart.svg");
  opacity: 0.3;
}

.cart__count-catalog::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  height: 14px;
  width: 16px;
  background: url("../img/icon-cart.svg");
  opacity: 0.3;
}

.bookmark__count:hover {
 color: var(--basic-white);
}

.bookmark__count:hover::before, .bookmark__count-catalog:hover::before,
.cart__count:hover::before, .cart__count-catalog:hover::before {
  opacity: 1;
}

.bookmark__count:active::before,
.bookmark__count-catalog:active::before,
.cart__count:active::before,
.cart__count-catalog:active::before,
.bookmark__count:active,
.bookmark__count-catalog:active,
.cart__count:active,
.cart__count-catalog:active {
  opacity: 0.3;
}

.order {
  padding: 9px 0 10px 0;
  background-color: var(--basic-green);
}

.order:hover {
  background-color: var(--special-green-hover);
}

.order:active {
  background-color: var(--basic-green); 
  color: var(--special-active);
}
.content__wrapper {
  background-color: var(--basic-background);
}

.info {
 font-style: italic;
 color: var(--basic-red);
 font-size: 16px;
 line-height: 24px;
 width: 197px;
 margin: 0;
 margin-left: 30px;
 margin-right: 93px;
}

.contacts {
  margin-top: 3px;
  margin-right: 69px;
}

.contacts .phone,
.contacts .phone:hover,
.contacts .phone:focus,
.contacts .phone:active {
  color : var(--basic-red);
}


.phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  min-height: 44px;
  min-width: 270px;
  padding: 4px 0 0 71px;
  margin-bottom: 5px;
  display: block;
  position: relative;
  border: 3px solid var(--basic-white);
}

.icon__phone {
  position: absolute;
  left: 35px;
  top: 10px;
}

.header__adress {
  margin: 0;
  min-width: 250px;
  font-size: 14px;
  color: var(--basic-blue);
  line-height: 24px;
  text-align: center;

}

.login {
  min-width: 281px;
  display: flex;
  flex-wrap: wrap;
  min-height: 45px;
  margin-top: 5px;
}

.login__link, .login__registration  {
  font-size: 21px;
  color: var(--basic-black);
  line-height: 21px;
  min-height: 45px;
  background-color: var(--basic-white);
}

.login__link {
  min-width: 121px;
  margin-right: 10px;
  padding: 12px 27px 12px 19px;
}

.login__registration {
  width: 150px;
  padding: 12px 24px;
}

.login__link:hover, 
.login__registration:hover {
  color: var(--basic-red);
}

.login__link:active, 
.login__registration:active {
  color: var( --basic-grey-light);
}

.login__link:hover .login__icon path {
  fill: var(--basic-grey);
}

.login__link:active .login__icon path {
  fill: var(--basic-grey-light);
}

.profile__wrapper {
    margin-top: 2px;
    padding-top: 14px;
    padding-left: 57px;
    margin-bottom: 3px;
  background-color: var(--basic-white);
  padding-bottom: 10px;
}

.catalog-contacts {
  margin-right: 51px;
}

.profile {
  background: rgba(0, 0, 0, 0.0001);
  width: 299px;
}

.buyer__name {
  position: relative;
  font-family: "Cuprum","Arial",sans-serif;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: black;
}

.buyer__name:hover .buyer-login path {
  fill: var(--basic-grey);
}

.buyer__name:active {
  color: var( --basic-grey-light);
}

.buyer__name:active .buyer-login path,
.buyer__name:active + .logout-icon path {
  fill: var( --basic-grey-light);
}

.buyer-login {
  position: absolute;
  left: -42px;
  top: 3px;
}

.buyer-login:hover path {
  fill: var(--basic-grey);
}

.logout-icon {
  position: absolute;
  left: 16px;
  top: -14px;
}

.logout-icon:hover path {
  fill: var(--basic-grey);
}

.logout-icon:active path {
  fill: var( --basic-grey-light);
}

.logout__button {
  position: relative;
  border:0;
  padding: 0;
  background-color: transparent;
}

.buyer__actions {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding-left: 44px;
  background-image: url("../img/point.svg");
  background-repeat: no-repeat;
  background-position: 133px 10px;
}

.buyer__actions:hover {
  background-image: url("../img/point-red.svg");
  background-repeat: no-repeat;
  background-position: 133px 10px;
}

.buyer__actions:active {
  background-image: url("../img/point-grey.svg");
  background-repeat: no-repeat;
  background-position: 133px 10px;
}

.buyer__item {
  position: relative;
  margin-right: 32px;
}

.buyer__item:last-child {
  margin-right: 0;
}

.buyer__link {
  font-family: "Cuprum","Arial",sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
}

.buyer__link:hover {
  color: var(--basic-red);
}

.buyer__link:active {
  color: var( --basic-grey-light);
}

.site__navigation, .site__navigation-catalog {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--basic-blue);
  min-height: 55px;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 5px 0 var(--basic-grey-dark);
}

.site__navigation-item {
  flex-grow: 1;
}

.site__navigation-link {
  display: block;
  text-align: center;
  font-size: 18px;
  padding-top: 17px;
  padding-bottom: 14px;
  color: var(--basic-white);
}

.site__navigation-link:hover {
  background-color: var(--basic-grey-dark);
}

.site__navigation-link:active {
  color: var(--special-active);                 
  background-color: var(--special-nav);
}

.first__menu-link{
  padding-left: 24px;
}

.last__menu-link {
  padding-right: 18px;
}

.main-body {
  padding-top: 17px;
  background-color: var(--basic-white);
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 356px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  margin-bottom: 20px;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 41px; 
}

.breadcrumbs__item:nth-child(1) .breadcrumbs__list {
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 14px;
  height: 12px;
  margin-top: 6px;
}

.breadcrumbs__item:last-child .breadcrumbs__list {
  cursor: default;
}

.breadcrumbs__item:last-child  {
  margin-right: 0;
}

.breadcrumbs__list {
  color: var(--basic-black);
}

.breadcrumbs__item:nth-child(n+2)::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 6px;
  left: -17px;
  background: url("../img/icon-right.svg");
  margin-left: -8px;
}

.perforators {
  font-family: "Cuprum","Arial",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  margin: 0;
  padding-left: 29px;
  padding-top: 29px;
  padding-bottom: 28px;
  margin-bottom: 23px;
  text-transform: uppercase;
  background-color: var(--catalog-back-h1);
}

.catalog-main {
  display: grid;
  grid-template: 1fr/220px 1fr;
  gap: 20px;
}

.filter {
  background-color: var(--basic-white);
}

.filter-form {
  font: inherit;
  line-height: 18px;
  padding: 8px 151px 10px 18px;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--filter-back);
  margin-bottom: 15px;
}

.filter-legend,
.filter-manufacturers,
.nutrition {
  font: inherit;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-legend {
  margin-bottom: 11px;
}

.fieldset-legend {
  margin-bottom: 15px;
}

.price-input {
  margin-bottom: 25px;
}

.filter-manufacturers {
  margin-bottom: 15px;
}

.fieldset__upper, .fieldset__middle, .fieldset__bottom {
  margin: 0;
  padding: 0;
  border: none;
}

.fieldset__upper, .fieldset__middle {
  border-bottom: 1px solid var(--special-white-border);
}

.fieldset__upper {
  margin-bottom: 18px;
}

.filter__list-checkbox li {
  margin-bottom: 15px;
}

.filter__list-checkbox li:last-child {
  margin-bottom: 26px;
}

.fieldset__middle {
  margin-bottom: 14px;
}

.fieldset__bottom {
  margin-bottom: 10px;
}

.nutrition {
  margin-bottom: 25px;
}

.filter__list-radio li {
  margin-bottom: 16px;
}

.filter__list-radio li:last-child {
  margin-bottom: 26px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 6px;
  padding-top: 37px;
  padding-left: 20px;
  background-color: var(--filter-back); 
  border-radius: 2px;
}

.scale {
  width: 180px;
  height: 2px;
  background-color: var(--scale-color);
}

.bar {
  width: 140px;
  height: 2px;
  background-color: var(--bar-color);
}

.toggle {
  box-sizing: content-box;
  position: absolute;
  top: 29px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-color);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle-shadow);
  cursor: pointer;
}

.toggle-min {
  left: 20px;
}

.toggle-max {
  right: 40px;
}

.price-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 0;
}

.filter__list-checkbox, .filter__list-radio {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-item {
  margin: 0;
  padding: 0;
}

.checkbox-indicator {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 34px;
  cursor: pointer;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.input-checkbox:disabled +.checkbox-indicator,
.input-radio:disabled + .checkbox-indicator {
  opacity: 0.4;
}

.input-checkbox:checked + .checkbox-indicator::before,
.input-radio:checked + .checkbox-indicator::before {
  display: none;
}

.input-checkbox + .checkbox-indicator::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: 4px;
  left: 0;
  background: url("../img/checkbox-off.svg");
}

.input-checkbox:hover + .checkbox-indicator::before,
.input-checkbox:focus + .checkbox-indicator::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: 4px;
  left: 0;
  background: url("../img/checkbox-off-hover.svg");
}

.input-checkbox:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-on.svg");
}

.input-checkbox:checked:hover + .checkbox-indicator::after,
.input-checkbox:checked:focus + .checkbox-indicator::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  top: 4px;
  left: 0;
  background: url("../img/checkbox-on-hover.svg");
}

.input-checkbox:checked:disabled + .checkbox-indicator::after{
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-on-hover.svg");
}

.input-checkbox:disabled + .checkbox-indicator::before{
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 23px;
  height: 23px;
  background: url("../img/checkbox-off-hover.svg");
}

.input-radio:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("../img/radio-on.svg");
}

.input-radio:checked:hover + .checkbox-indicator::after,
.input-radio:checked:focus + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("../img/radio-on-hover.svg");
}

.input-radio + .checkbox-indicator::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 4px;
  left: 0;
  background: url("../img/radio-off.svg");
}

.input-radio:hover + .checkbox-indicator::before,
.input-radio:focus + .checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("../img/radio-off-hover.svg");
}

.input-radio:checked:disabled +.checkbox-indicator::after{
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("../img/radio-on-hover.svg");
}

.input-radio:disabled +.checkbox-indicator::before{
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("../img/radio-off-hover.svg");
}

.filter-button {
  font: inherit;
  line-height: 18px;
  padding: 9px 0;
  width: 220px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid var(--special-white-border);
  background-color: var(--basic-white);
}

.price-input {
  position: relative;
  box-sizing: border-box;
  width: 95px;
  height: 38px;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: var(--filter-back);
  border: none;
}

.price-scale {
  position: absolute;
  top: 18px;
  left: 50%;
  width: 10px;
  height: 1px;
  margin-left: -5px;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--price-scale);
}

.sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 38px;
  width: 700px;
  margin-bottom: 26px;
  padding-top: 7px;
  background-color: var(--filter-back);
}

.headline__sort {
  margin: 0;
  margin-right: 140px;
  padding-left: 20px;
  text-transform: uppercase;
  font-weight: normal;
  font: inherit;
  line-height: 18px;
}

.sort__list {
  list-style: none;
  padding: 0;
  margin:0;
  text-transform: uppercase;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 46px;
}

.sort__list-type:nth-child(1) {
  margin-right: 71px;
}

.sort__list-type:nth-child(2) {
  margin-right: 65px;
}

.sort__link, .sort__link-selected {
  border-bottom: dotted 1px var(--basic-red);
}

.sort__list-link {
  color: var(--special-black-transparent);
}

.sort__link-selected {
  color: var(--basic-red);
  border: none;
}

.sort__link-selected:hover, .sort__list-link:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sort__list-link:active {
  color: var(--basic-red);
  border-bottom: none;
}

.sort__icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.sort__icon-type:nth-child(1) {
  margin-right: 21px;
}

.icon__triangle-selected path {
  fill: var(--basic-red);
}

.icon__triangle-selected:hover path,
.icon__triangle:hover path {
  fill: var(--basic-black);
}

.icon__triangle-selected:active path,
.icon__triangle:active path {
  fill: var(--basic-red);
}

.products__cards-catalog {
  display: grid;
  grid-template: repeat(3,318px)/ repeat(3,220px);
  grid-row-gap: 18px;
  grid-column-gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 286px;
  display: flex;
  flex-wrap: wrap;
  min-height: 38px;
  margin-bottom: 57px;
}

.pagination__item:not(:first-child) {
  border: 1px solid var(--special-white-border);
  box-shadow: 0px 4px 4px var(--special-box-shadow);
}

.pagination__item:not(:first-child):hover {
  border: 1px solid var( --basic-grey-light);
  box-shadow: 0px 4px 4px var(--special-box-shadow);
}

.pagination__item:not(:first-child):active {
  border: 1px solid var(--basic-red); 
  box-shadow: 0px 4px 4px var(--special-box-shadow);
}

.pagination__item{
  font:inherit;
  line-height: 18px;
  min-width: 38px;
  min-height: 38px;
  background-color: var(--basic-white);
  border-radius: 2px;
  margin-right: 10px;
}

.pagination__list {
  display: block;
  padding: 9px 12px 11px 15px;
  color: var(--basic-black);
}

.last-pagination {
  text-transform: uppercase;
  padding-left: 32px;
}

.current__page {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 2px;
}

.next__page {
  min-width: 140px;
  margin-right: 0;
}

.description {
  padding-bottom: 68px;
  background-color: var(--basic-back);
}

.bottom__description-perforators {
  font-family: "Cuprum","Arial",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  margin: 0;
  padding-top: 65px;
  padding-bottom: 25px;
  text-transform: uppercase;
}

.bottom__paragraph-perforators {
  margin: 0;
  width: 908px;
}


.choise {
  display: none;
}

.advise {
  padding-top: 59px;
  background-color: var(--basic-white);
  padding-bottom: 59px;
}

.advise__recommendation {
  display: grid;
  grid-template: repeat(3,1fr)/repeat(3,300px);
  gap:20px;
  grid-template-areas:
  "materials  tools    technics"
  "slider     slider   sale"
  "slider     slider   delivery";
  list-style: none;
  margin: 0;
  padding: 0;
}

.advise__recommendation-list {
  min-height: 123px;
  position: relative;
  padding: 20px 0 0 23px;
}

.materials__list {
  background-image: url("../img/icon-1.svg");
  background-position: 213px 32px;
  background-repeat: no-repeat;
  background-color: var(--special-yellow);
  grid-area: materials;
}

.tools__list {
  background-image: url("../img/icon-2.svg");
  background-position: 194px 35px;
  background-repeat: no-repeat;
  background-color: var(--special-blue);
  grid-area: tools;
}

.technics__list {
  background-image: url("../img/icon-3.svg");
  background-position: 191px 31px;
  background-repeat: no-repeat;
  background-color: var(--special-lilac);
  grid-area: technics;
}

.sale__list {
  background-image: url("../img/icon-4.svg");
  background-position: 196px 26px;
  background-repeat: no-repeat;
  background-color: var(--special-greenlight);
  grid-area: sale;
}

.delivery__list {
  background-image: url("../img/icon-5.svg");
  background-position: 191px 33px;
  background-repeat: no-repeat;
  background-color: var(--basic-orange);
  grid-area: delivery;
}

.slider {
  grid-area: slider;
}

.advise__recommendation-list h3 {
  width: 135px;
  font-family: "Cuprum","Arial",sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
  margin: 0;
  margin-bottom: 13px;
}

.recommendation__list-button {
  font-family: "Cuprum","Arial",sans-serif;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: block;
  width: 135px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding: 10px 0px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--button);
}

.recommendation__list-button:hover {
  background-color: var(--button-hover);
}

.recommendation__list-button:active {
  background-color: var(--button-active);
}

.advise__recommendation-list:last-child {
  padding: 0;
}

.slider {
  background-color: var(--basic-slider);
  position: relative;
  width: 620px;
  min-height: 266px;
}

.main__slider {
  position: relative;
}

.slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.product__1, 
.product__2 {
  display: none;
}

.product__1:checked ~ .slider {
  background-image: url(../img/drill.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.product__2:checked ~ .slider {
  background-image: url(../img/rotaryhammers.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider__controls {
  position: absolute;
  top: 220px;
  left: 295px;
}

.slider__controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 7px;

  vertical-align: top;

  background-color: var(--basic-white); 
  border: 2px solid var(--basic-white); 
  border-radius: 50%;
  cursor: pointer;
}
.slider__controls label:first-child::before {
  content: "";
  position: absolute;
  top: -99px;
  left: -272px;

  width: 22px;
  height: 40px;

  background-image: url(../img/icon-left.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.slider__controls label:last-child::after {
  content: "";
  position: absolute;
  top: -98px;
  right: -268px;

  width: 22px;
  height: 40px;

  background-image: url(../img/icon-left.svg);
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.product__1:checked ~ .slider #slide1,
.product__2:checked ~ .slider #slide2 {
  display: block;
}

.product__1:checked ~ .slider label[for="product-1"],
.product__2:checked ~ .slider label[for="product-2"] {
  background-color: var(--basic-red);
}

.button-slider {
    position: absolute;
    top: 203px;
    left: 38px;
    width: 192px;
    padding: 12px 40px 8px 40px;
}

.slider__list-photo {
  padding-top: 22px;
}

.slider__list-photo h3 {
  margin: 0;
  margin-left: 24px;

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
  text-transform: uppercase;
  margin-bottom: 6px;
}
.slider__list-photo p {
  margin: 0;
  margin-left: 24px;
  padding: 0;

  font-family: "Cuprum","Arial",sans-serif;

  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.products {
  background-color: var(--basic-white);
      padding-bottom: 68px;
}

.products__popular, .manufacturers__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-height: 88px;
  padding-top: 1px;
  padding-right: 14px;
  padding-left: 28px;
  margin-bottom: 21px;
  background-color: var(--special-white-back);
}

.headline__blue, .headline__black {
  font-family: "Cuprum","Arial",sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);
}

.headline__black-little {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: var(--basic-black); 
}

.headline__black {
  color: var(--basic-black);
  margin: 0;
}

.button__link, .write__us-link {
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 14px;
  line-height: 18px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.button__link:hover, .write__us-link:hover {
  background-color: var(--button-link-hover);
}

.button__link:active, .write__us-link:active {
  background-color: var(--special-red);
}

.red__products-all {
  padding: 11px 15px 10px 14px;
}

.red__manufacturers {
 padding: 11px 13px 10px 14px;
}

.red__button-middle {
  padding: 10px 40px 9px 40px;
}

.red__button-big {
  padding: 11px 61px 9px 61px;
}

.red__button, .red__button-middle ,
.red__button-big {
  display: block;
}

.red__products-all, .red__manufacturers {
 width: 192px;
}

.red__button-middle {
  width: 220px;
}

.red__button-big {
  width: 300px;
}

.products__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.new {
  position: relative;
}

.new::after {
  content: "";
  position: absolute;
  background: url("../img/new.png");
  width: 70px;
  height: 70px;
  top: 0;
  right: 0;
}

.products__choise {
  display: none;
  width: 138px;
  height: 140px;
}

.last__card {
  display: none;
  width: 135px;
  height: 141px;
}

.products__choise a {
  display: block;
}

.buy__button,
.bookmarks__button {
  width: 135px;
  height: 38px;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 2px;
  text-align: center;
  padding: 6px 0 10px 0;
} 

.buy__button {
  background-color: var(--basic-green);
  color: var(--basic-white);
  box-shadow: inset 0px -3px 0px var(--special-green-shadow);
  padding: 10px 0px 10px 15px;
  position: relative;
  margin-bottom: 10px;
}

.bookmarks__button {
  background-color: var(--basic-white);
  color: var(--basic-blue);
  border: 3px solid var(--basic-green);
}

.buy__button::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 12px;
  left: 30px;
  background: url("../img/icon-cart.svg");
  opacity: 0.3;
}

.products__cards {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__item {
  min-height: 318px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-border);
}

.bfg9000 {
padding: 8px 18px 19px 18px
}

.bfg3000 {
  padding: 0 20px 20px 18px;
}

.bfg6000 {
  padding: 0 21px 20px 20px;
}

.bfg2000 {
  padding: 0 18px 20px 16px;
}

.card__item:hover img,
.card__item:focus img {
  display: none;
}

.card__item:hover,
.card__item:focus {
  box-shadow: 0px 4px 20px var(--special-list-shadow);
}

.card__item:hover .products__choise,
.card__item:focus .products__choise {
  display: block;
}

.products__choise .buy__button:hover,
.products__choise .buy__button:focus {
  background-color: var(--special-green-hover);
  background-image: url(../img/cart-icon-hover.svg);
}

.products__choise .buy__button:active {
  background-color: var(--special-green-active);
}

.products__choise .bookmarks__button:hover,
.products__choise .bookmarks__button:focus {
  border-color: var(--basic-blue);
}

.products__choise .bookmarks__button:active {
  opacity: 0.5;
}

.bosh__bfg9000 {
  margin-bottom: 8px;
}

.bosh__bfg3000 {
margin-bottom: 37px;
    margin-right: 9px;
}

.bosh__bfg6000 {
margin-bottom: 28px;
    margin-right: 10px;
}

.bosh__bfg2000 {
    margin-bottom: 36px;
    margin-right: 11px;
}

.last__product-name {
  margin: 0;
  margin-bottom: 34px;
  text-align: center;
}

.product__name {
  margin: 0;
  margin-bottom: 7px;
  font-family:"PT Sans","Arial",sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.product__card-title {
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 18px;
  line-height:21px;
  font-weight: bold;
  color: var(--basic-black);
}

.del, .products__card-button {
  font-family: "PT Sans","Arial",sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.products__card-button:nth-child(1) {
  margin-left: 14px;
}

.products__card-button:nth-child(2) {
  margin-left: 11px;
}

.products__card-button:nth-child(3) {
  margin-left: 11px;
}

.products__card-button:nth-child(4) {
  margin-left: 11px;
}

.del {
  color: var(--special-del);
}

.products__card-button {
  width: 141px;
  height: 38px;
  text-align: center;
  background-image: url("../img/red-button.png");
  background-repeat: no-repeat;
  color: var(--basic-white);
  padding: 9px 9px 0 0;
  margin: 0;
  margin-left: 12px;
}

.manufacturers {
  background-color: var(--basic-white);
  padding-bottom: 69px;
}

.manufacturers__wrapper {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  min-height: 89px;
  padding-right: 19px;
  padding-top: 4px;
  background-color: var(--special-white-back);
}

.manufacturers__main {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template: repeat(2, 145px)/repeat(4, 220px);
  gap: 20px;
}

.manufacturers__main-list {
  width: 220px;
  height: 145px;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-border);
}

.manufacturers__main-list:hover {
 box-shadow: 0px 4px 20px var(--special-list-shadow);
}

.manufacturers__main-list:active {
 box-shadow: 0px 4px 20px var(--special-list-shadow);
 opacity: 0.5;
}

.bosch {
 padding: 54px 47px;
}

.makita {
  padding: 50px 49px 55px 48px;
}

.dewalt {
  padding: 48px 37px 53px 37px;
}

.interskol {
  padding: 22px 11px 34px 9px;
}

.hitachi {
  padding: 57px 23px 56px 28px;
}

.lg {
  padding: 36px 51px 37px 48px;
}

.aeg {
  padding: 25px 34px 25px 35px;
}

.metabo {
  padding: 39px 8px 42px 8px;
}

.services__popular {
  background-color: var(--basic-back);
}

.services {
  list-style: none;
  margin: 0;
  padding-top: 66px;
  background-color: var(--basic-back);
}

.services__heading-wrapper h3 {
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  color: var(--basic-blue);
  text-transform: uppercase;
  font-family: "Cuprum","Arial",sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 32px;
  margin-bottom: 24px;
}

.services__heading-wrapper p {
  width: 400px;
  margin-bottom: 70px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.services__controls-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 240px;
}
.services__controls-wrapper::after {
  content: "";
  position: absolute;
  top: -40px;
  right: 0;

  width: 10px;
  height: 279px;

  background-image: url(../img/line-shadow.png);
  background-repeat: no-repeat;
}

.services__controls-wrapper label {
  margin-bottom: 1px;
  padding: 14px 140px 17px 22px;

  font-family: "Cuprum","Arial",sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  box-shadow: 0px 1px 0px var(--basic-grey-dark), inset 0px 1px 0px var(--basic-blue-dark);
}

.services__controls-wrapper label:hover {
  background-color: var(--basic-grey-dark);
}

.delivery:checked ~ .services__wrapper label[for="delivery"],
.guarantee:checked ~ .services__wrapper label[for="guarantee"],
.credit:checked ~ .services__wrapper label[for="credit"] {
  color: var(--basic-blue);

  background-color: var(--basic-white);
  box-shadow: none;
}

.delivery:checked ~ .services__wrapper #slide-delivery,
.guarantee:checked ~ .services__wrapper #slide-guarantee,
.credit:checked ~ .services__wrapper #slide-credit {
  display: block;
}

.services__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.services__slider-list {
  margin: 0;
  margin-top: -2px;
  margin-left: 79px;
  padding: 0;
  list-style: none;
}

.services__slider-item {
  position: relative;
  width: 620px;
  min-height: 290px;
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
}

.services__slider-item:first-child {
  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
  background-position: 151px 21px;
}

.services__slider-item:nth-child(2)::after {
  content: "";
  position: absolute;
  background: url(../img/guatantee.png);

  width: 465px;
  height: 285px;
  top: 2px;
  right: -87px;
}

.services__slider-item:last-child::after {
  content: "";
  position: absolute;
  background: url(../img/credit.png);

  width: 465px;
  height: 285px;
  top: 2px;
  right: -10px;
}

.services__info {
  position: relative;

}
.services__info h3 {
  margin-bottom: -2px;
  padding: 0;
  color: var(--basic-blue);
  text-transform: uppercase;
  font-family: "Cuprum","Arial",sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 32px;
}

.services__info p {
  width: 331px;
  margin-top: 30px;
  font-size: 13px;
  line-height: 25px;
  font-family: "PT Sans", Arial, sans-serif;
}

.services__info .info__delivery {
  padding-right: 57px;
}

.services__info .info__guarantee {
  width: 315px;
}

.button__services-credit {
  position: absolute;
  top: 135px;
  left: 0;
  padding: 8px 43px 12px 46px;
}

.main-info {
  background-color: var(--basic-white);
}

.main__info-company {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 71px;
  padding-top: 67px;

}

.company__desc {
  width: 470px;
}

.bottom_paragraph {
  margin: 25px;
}

.transport {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.delivery__line {
  position: relative;
  padding-left: 37px; 
  font-family: "Cuprum","Arial",sans-serif;

  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 11px;  
}

.delivery__line:last-child {
  margin-bottom: 23px;
}

.delivery__line::before {
  content: "";
  position: absolute;
  width: 25px;

  height: 1px;
  top: 12px;
  left: 0;
  background-color: var(--basic-red);
}

.upper__paragraph{
  margin-bottom: 26px;
}

.middle__paragraph {
  width: 385px;
  margin: 0;
 margin-bottom: 14px;
}

.address {
  width: 190px;
  margin-bottom: 43px;
}

.map-zoom {
  display: block;
  margin-bottom: 17px;
}

.footer__logo {
  width: 220px;
  padding-top:19px;
  padding-bottom: 20px;
  background-color: var(--basic-red);
  box-shadow: 0px 5px 0px var(--logo-shadow);
  margin-bottom: 29px;
}

.footer__logo img {
  display: block;
  margin: 0 auto;
}

.footer__wrapper-top {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.footer__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 54px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 380px;
}

.phone__footer {
  color: var(--basic-background);
}

.footer__wrapper-bottom{
  background-color : var(--basic-grey-dark);
}

.footer__bottom, .footer__bottom-catalog {
  display: flex;
  flex-wrap: wrap;
}
.footer__bottom {
  padding-top: 35px;
}

.footer__bottom-catalog {
  padding-top: 35px;
}

.socials, .list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__menu-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 547px;
}

.footer__top-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 36px;
}

.footer__middle-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 34px;
  padding-left: 22px;
}

.footer__middle-nav, .middle-nav-catalog{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 22px;
}

.footer__middle-nav, .middle-nav-catalog{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 22px;
}

.footer__middle-nav {
 padding-top: 34px;
}

.middle-nav-catalog {
   padding-top: 34px;
}

.social__button {
  position: relative;
  display: block;

  height: 44px;
  width: 44px;
  margin-right: 1px;

  background-color: var(--basic-social);
  border-radius: 50%;
}

.social-vk {
  position: absolute;
  top: 11px;
  left: 8px;
}

.social-fb {
  position: absolute;
  top: 9px;
  left: 16px;
}

.social-inst {
  position: absolute;
  top: 9px;
  left: 11px;
}

.social__button:hover,
.social__button:focus,
.social__button:active {
  background-color : var(--basic-red);
}

.btn__special {
  color: var(--basic-background);
  width:  150px;
  font-family: "Cuprum","Arial",sans-serif;

  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.btn__special:hover {
  text-decoration: underline;
}

.btn__special:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer__contacts {
  width: 327px;
  margin: 0;
  font-family: "Cuprum","Arial",sans-serif;

  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  padding-left: 2px;
}


.btn__yellow {
  font-family: "Cuprum","Arial",sans-serif;

  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color : var(--special-yellow-light);
}

.btn__yellow:hover {
  text-decoration: underline;
}

.btn__yellow:active {
  opacity: 0.5;
  text-decoration : none;
}

.company__info {
  width: 227px;
  color: var(--basic-white);
  margin: 0;
  margin-right: 162px;
  font-family: "Cuprum","Arial",sans-serif;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  margin-right: 117px;
}

.developer {
  display: flex;
  width: 296px;
  font-family: "Cuprum","Arial",sans-serif;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.developer__info {
  margin: 0;
  color : var(--basic-white);
}

.developer__info:first-child {
  margin-right: 52px;
}

.developer__info-link {
  color : var(--special-yellow-light);
}

.developer__info-link:hover {
  text-decoration : underline;
}

.developer__info-link:active {
  color: var(--basic-red);
  text-decoration : none;
}

/*Write us */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0 -7px 0 var(--popup-shadow), 0px 4px 20px var(--special-list-shadow), 0px 20px 40px var(--form-box-shadow);
}

.modal-login {
  top: 215px;
  bottom: auto;
  width: 620px;
  min-height: 430px;
  left: 50%;
  margin-left: -310px;
}

.modal-close {
  position: absolute;
  width: 21px;
  height: 21px;
  right: 11px;
  top: 14px;
  border: 0;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
}

.form-upper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 39px 80px 37px 80px;
  background-color: var(--basic-white); 
}

.button-wrapper {
  padding: 29px 80px;
  background-color: var(--button-wrapper);
}

.form-field {
  width: 220px;
  margin: 0;
}

.modal__form-name span, .modal__form-email span, .modal__form-feedback span {
  font-family: "Cuprum","Arial",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.login-user, .login-email {
  min-height: 38px;
  width: 220px;
  font: inherit;
  padding-left: 12px;
  margin-bottom: 13px;
  margin-top: 10px;
  border-radius: 2px;
  border: 2px solid var( --basic-grey-light);
}

.form-question {
  width: 100%;
}

.form-field textarea {
  min-height: 114px;
  width: 100%;
  font: inherit;
  padding-left: 10px;
  margin-top: 14px;
  resize: none;
  border-radius: 2px;
  border: 2px solid var( --basic-grey-light);
}

.button-wrapper {
  padding: 37px 80px;
  background-color: var(--button-wrapper);
}

.modal-button {
  width: 100%;
  min-height: 38px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  font-family: "Cuprum","Arial",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  border: 0;
}

/*Modal Map */

.modal-map {
  width: 943px;
  height: 449px;
  left: 50%;
  top: 50%;
  margin-left: -471px;
  margin-top: -235px;
}

.modal-show {
  display: block;
  animation: zoom 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-map-close{
  position: absolute;
  top: 11px;
  right: 10px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-color: transparent;
  border: none;
  z-index: 3;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Added cart*/

.added__cart {
  display: none;
  position: relative;
  width: 620px;
  min-height: 275px;
  box-shadow: 0 -7px 0 var(--popup-shadow);
  position: fixed;
  left: 50%;
  top: 137px;
  margin-left: -310px;
  bottom: auto;
}

.added-top {
  min-height: 164px;
  padding: 42px 0 0 177px;
  background-color: var(--basic-white);
}

.added__cart p {
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.added__cart p::before {
  content: "";
  position: absolute;
  top: 48px;
  left: 81px;
  width: 66px;
  height: 66px;
  background: url("../img/icon-mark.svg");
}


.modal__close-cart {
  position: absolute;
  top: 11px;
  right: 11px;
  width: 21px;
  height: 21px;
  background-image: url("../img/modal-close-map.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-color: transparent;
  border: none;
  z-index: 3;
}

.added-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 112px;
  padding: 36px 114px 37px 114px;
  background-color:  var( --background-cart);
}

.modal-checkout {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  min-height: 38px;
  padding: 11px 46px 9px 47px;
}

.button-checkout {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-transform: uppercase;
  padding: 11px 29px 9px 33px;
  min-height: 38px;
  border: none;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
